/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-bg-image: url('../images/cover-image-dark.png');
  --page-bg-color: #000028;
  --min-block-size: 668px;
  --title-color: #DB00FF;
 --accent-color: #FF0070;
  --accent-contrast: #000028; 
  --text-color: #F1B2CE;
}


