:root.theme-light {
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --accent-contrast: #353430;
  --nav-color: #353430; /*1*/
  --section-title-color: #353430; /*2*/
}

.theme-light .rec {
  display: none;
}

/* Для принудительной светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url("../images/cover-image-light.png");
    --page-bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-contrast: #353430;
    --nav-color: #353430; /*1*/
    --section-title-color: #353430; /*2*/
  }

  .rec {
    display: none;
  }
}
