:root.theme-light {
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --accent-contrast: #353430;
}

/* Для принудительной светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url("../images/cover-image-light.png");
    --page-bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-contrast: #353430;
  }
}
  
  .theme-light .rec {
    display: none;
  }



.theme-light .header__theme-menu-button {
  color: var(--text-color);
}

.theme-light .header__theme-menu-button:hover {
  border-color: rgba(from var(--text-color) r g b / 0.7);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom-color: var(--text-color);
}

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after {
  border-color: var(--text-color);
}

.theme-light .section__text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.theme-light .section__text-link:hover {
  border-bottom-color: var(--text-color);
}

.theme-light .section__text-link:focus-visible {
  border-color: var(--text-color);
}

.theme-light .header__theme-menu-button_active,
.theme-light .header__theme-menu-button:disabled {
  border-color: var(--text-color);
  cursor: default;
}

.theme-light .section__title {
  color: var(--text-color);
}