/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-bg-image: url('../images/cover-image-dark.png');
  --page-bg-color: #000028;
  --min-block-size: 668px;
  --title-color: #DB00FF;
  --container-padding: 10px;
  --accent-color: #FF0070;
  --accent-contrast: #000028; 
  --text-color: #F1B2CE;
}

@media (min-width: 768px) {
  :root {
    --container-padding: 20px;
    --min-block-size: 1024px;
  }
}

@media (min-width: 1024px) {
  :root {
    --container-padding: 20px;
    --min-block-size: 768px;
  }
}

