/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: #000028;
  --min-block-size: 668px;
  --title-color: #db00ff;
  --container-padding: 10px;
  --accent-color: #ff0070;
  --accent-contrast: #000028;
  --text-color: #f1b2ce;
  --nav-color: #ff0070;
  --section-title-color: #ff0070;
}

@media (min-width: 768px) {
  :root {
    --min-block-size: 1024px;
    --container-padding: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --min-block-size: 768px;
  }
}
